#start {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  font-size: 60px;
  box-shadow: black 3px 2px 2px 0px; }

body {
  background-color: aqua !important; }

.container {
  background-color: white; }

.smallLogo {
  width: 100px;
  height: 100px; }

.biglogo {
  width: 300px;
  height: 300px; }

#circle {
  width: 200px;
  height: 200px; }

#studentscore {
  font-size: 50px; }

#resultsbox {
  position: relative; }

#clueless {
  position: absolute;
  top: 170px;
  left: 636px; }

#hardworker {
  position: absolute;
  top: 90px;
  left: 277px; }

#tiltedredbox {
  height: 25px;
  width: 150px;
  background-color: red;
  margin: auto;
  transform: rotate(-3deg) translateY(5px); }

#suggestions {
  height: 300px;
  width: 500px;
  padding-top: 5px;
  background-color: yellow;
  margin: auto;
  z-index: 2; }
