.speech-bubble {
  position: relative;
  border-radius: .4em;
  width: fit-content;
  max-width: 50%;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.question {
  color: white;
  font-size: 18px;
  background: $primary-color;
}

.answer {
  color: white;
  font-size: 18px;
  background: $secondary-color;
}

.possible-answer {
  color: white !important;
  font-size: 18px !important;
  margin: 5px !important;
  background: $secondary-light !important;
  border: none !important;
}

.possible-answer>button {
  width: 100%;
}

.possible-answer:hover{
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.08), 0 17px 50px 0 rgba(0,0,0,0.08) !important;
}

.question:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: $primary-color;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -25px;
}

.answer:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: $secondary-color;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -25px;
}

.possible-answer:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: $secondary-light;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -25px;
}
